.landing {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

.image {
  position: fixed;
  align-items: left;
  height: auto;
  max-width: 50%;
}

img {
  max-width: 15vh;
  height: auto;
  align-items: center;
  justify-content: center;
  margin: 5% 0;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #283434;
}


#login-btn{
  background-color: #D7E4E9;
  color: #283434;
  padding: 5% 25%;
  text-align: center;
  margin: 10% 0;
}

#signup-btn{
  background-color: #E5A6A6;
  color: #283434;
  padding: 5% 15%;
  margin: 10% 0;
  height: auto;
  text-align: center;
  width: 100px;
}