.main {
  display: flex;
  justify-content: center;
  align-content: start;
}


.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: auto;
  align-content: center;
  gap: 20px;
  margin: 20px;
  max-width: 1600px;
}

.text {
  text-decoration: none;
  /* background-color: #283434; */
}

.codeCard {
  display: flex;
  /* width: 300px; */
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: #283434; */
  border-radius: 10px;
  color: whitesmoke;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin: 9px;
  flex: 0 0 auto;
}

.card > img {
  border-radius: 10px;
  height: 96px;
}

.cardBody {
  justify-content: center;
  align-items: center;
}

.cardTitle {
  font-size: 24px;
  margin: 0 10px;
}

a:hover {
  background-color: #D7E4E9;
}

h1{
  /* margin-top: 5%; */
}