.main {
  block-size: 100%;
  inline-size: 100%;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
  max-width: 1600px;
}

.text {
  text-decoration: none;
}

.card {
  display: flex;
  width: 300px;
  background-color: #283434;
  border-radius: 10px;
  color: #edeae1;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: relative;
}
.card:hover{
  background-color: #edeae1;
  color:#283434
}

.card > img {
  border-radius: 10px;
  height: 96px;
}

.cardBody {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardTitle {
  /* font-size: 24px; */
  /* text-align: center; */
  margin: 0 10px;
}

a:hover {
  /* background-color: #D7E4E9; */
}

/* h1 {
  margin: 15px 0px;
} */


