.main {
  /* display: flex; */
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
  max-width: 1600px;
}

.text {
  text-decoration: none;
}

.card {
  /* display: flex; */
  /* width: 300px; */
  /* background-color: #283434; */
  flex: 0 1 24%;
  border-radius: 10px;
  color: whitesmoke;
  padding: 10px;
}


.cardBody {
  /* display: flex; */
  color: #283434;
  justify-content: center;
  padding: 5px;
  text-align: center;
  align-items: center;
  box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.2);
}

.cardCode{
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
}

.cardFooter{
  padding: 0;
  margin-top: 8%;
}

.cardTitle {
  font-size: 24px;
  margin: 0 10px;
}

.cardHeader{
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

