.container {
  width: 90%;
  max-width: 2040px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

h5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top:10px;

}



#add-comment {
  border: 3px solid black;
  margin: 40px;
  padding-left: 200px;
  padding-right: 200px;
  background-color: antiquewhite;
  margin-bottom: 40px;
}
