.container {
  width: 90%;
  max-width: 2040px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

h5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top:10px;
}

h3{
  margin: 15px;
}


#add-comment {
  border: 3px solid black;
  margin: 40px;
  padding-left: 200px;
  padding-right: 200px;
  background-color: antiquewhite;
  margin-bottom: 40px;
}

.editBtn{
  color: #283434;
  background-color: #D7E4E9;
  padding: 4px 20px;
  border-radius: 10px;
}

.editBtn:hover{
  background-color: #E5A6A6;
  color: #283434;
}

.deleteBtn{
  color: #283434;
  background-color: #E5A6A6;
  padding: 4px 20px;
  border-radius: 10px;
  border: none;
}

.deleteBtn:hover{
  background-color: #D7E4E9;
  color: #283434;
}


