.main {
  display: flex;
  justify-content: center;
  align-content: center;
}

.code {
  width: 90%;
  max-width: 2040px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.codeCard {
  display: flex;
  /* width: 300px; */
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: #283434; */
  border-radius: 10px;
  color: whitesmoke;
  padding: 10px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  margin: 9px;
  flex: 0 0 auto;
}

.code-card {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  margin: 5px 10px 5px 0px;
  /* box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.15); */
  /* -webkit-box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1); */
}

.code-card section {
  margin: 0;
  width: 100%;
  display: flex;
  /* grid-template-rows: auto; */
  flex-direction: column;
  border-radius: 0px 0px 5px 5px;
  text-align: row;
}



.code-card p {
  margin: 0 10px;
  display: grid;
  grid-template-rows: auto;
}

.categoryName {
  font-weight: bold;
}

#code-section{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #283434;
  /* border: 2px solid #283434; */
  border-radius: 10px;
  background-color: #F4F3EF;
  padding: 5%;
}

h1{
  text-align: center;
  margin-bottom: 3vmin
}

.categoryCode{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  animation: none;
  transform: none;
}

.selectBox{
  margin-bottom: 3vmin;
  text-align: center;
  color: #283434;
}


.catCodeSection{
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: auto;
  align-content: center;
  gap: 20px;
  margin: 20px;
  max-width: 1600px;
}

.codeList{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items:baseline;
  text-align: center;
  gap: 10px;
}
