.code {
    width: 90%;
    max-width: 2040px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .cardCode {
    display: flex;
    width: 300px;
    background-color: #283434;
    border-radius: 10px;
    color: whitesmoke;
    padding: 10px;
  }