.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 7vmin auto;
  font-family: 'Noto Sans', sans-serif;
}

.App-header {
  background-color: #283434;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vmin;
  font-size: 2.5vmin;
  color: #E1ECD4;
}

nav > a {
  color: #E1ECD4;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.App main {
  background-color: #F4F3EF;
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: space-around; */
  align-items: center;
  align-content: flex-start;
}

nav > a:hover {
  background-color: #D7E4E9;
}

.App main h1 {
  color: #283434;
  margin-bottom: 5vmin;
  margin-top: 3vmin;
  font-weight: 300;
}

nav > .active{
  color: #BAA3FE;
  background-color: #283434;
  font-size: 3vmin;
}