.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.label,
.button {
  margin-right: 0.5rem;
}

.button{
  background-color: #E5A6A6;
  color: #283434;
}

.button:hover{
  background-color: #D7E4E9 ;
}

.inputContainer {
  margin-bottom: 1rem;
}
